[data-services-shadow] {
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 3;
    pointer-events: none;
    width: var(--shadow-width, 150px);
    height: 100%;
    background: linear-gradient(
      var(--shadow-degree),
      #e4e4d400,
      var(--color-mercury) 100%
    );
    opacity: var(--shadow-visibility, 0);
    @include default-transitions(opacity);
  }
  &:before {
    --shadow-degree: -90deg;

    left: 0;
  }
  &:after {
    --shadow-degree: 90deg;

    right: 0;
  }
}
[data-services-shadow="both"],
[data-services-shadow="left"]:before,
[data-services-shadow="right"]:after {
  --shadow-visibility: 1;
}
